<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">The Internet Artist Database</span>
          <hr class="star-light">
          <span class="skills">Find every artist on the Internet!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Artists -->
<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>The Artists</h2>
          <h4>Sorting options</h4>
          <ul>
            <li><%= sorting "name" %></li>
            <li><%= sorting "created_at", "Date of Creation" %></li>
          </ul>
          <hr>
        </div>
      </div>
      <div class="row">
        <% @artists.each do |artist| %>
        <div class="col-sm-4 artist-card">
          <h4><%= link_to artist.name, artist_path(artist), class: "artist-link" %></h4>
          <%= image_tag artist.image_url, class: "artist-img" %>
          <p><%= artist.genre %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
