<div class="container-fluid">
  <div class="content-wrapper">
		<div class="item-container">
  		<div class="container">
	  		<div class="col-md-12">
		  		<div class="col-md-5">
            <%= image_tag @artist.image_url, class: "artist-image" %>
          </div>

  				<div class="col-md-7">
	    			<div class="artist-title"><h1><%= @artist.name %></h1></div>
			    	<div class="artist-genre"><%= @artist.genre %></div>
          </div>
			  </div>
		  </div>
      <div class="container">
	  		<div class="col-md-12">
		  		<h2>List of songs</h2>
          <ul>
            <% @songs.each do |song| %>
              <li><%= song.name %></li>
              <li><%= song.release_year %></li>
              <li><%= video_tag @song.video_url %></li>
            <% end %>
          </ul>
			  </div>
		  </div>
	  </div>
  </div>
</div>
