<div class="container-fluid">
  <div class="content-wrapper">
		<div class="item-container">
  		<div class="container">
	  		<div class="col-md-12">
		  		<div class="col-md-5">
            <%= image_tag @artist.image_url, class: "artist-image" %>
          </div>

  				<div class="col-md-7">
	    			<div class="artist-title"><h1><%= @artist.name %></h1></div>
			    	<div class="artist-genre"><%= @artist.genre %></div>
            <button type="button" class="btn btn-danger">
              <%= link_to "Delete Artist", artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } %>
            </button>
          </div>
			  </div>
		  </div>
      <div class="container">
	  		<div class="col-md-12">
		  		<h2><%= @artist.name %> Discography</h2>
            <% @artist.songs.each do |song| %>
              <ul>
                <li>
                  <p><%= song.name %></p>
                  <p>Year of release: <%= song.release_year %></p>
                  <button type="button" class="btn btn-danger">
                    <%= link_to "Remove Song", [@artist, song], method: :delete, data: { confirm: "Are you sure?" } %>
                  </button>
                </li>
              </ul>
            <% end %>
			  </div>
		  </div>
      <div class="panel-body">
        <h2>Missing a song?</h2>
        <p>Add your song below:</p>
        <%= render 'songs/form' %>
      </div>
	  </div>
  </div>
</div>
